body {
    display: flex;
    height: 100vh;
    background-color: #111;
  }
  canvas {
    margin: auto;
  }
  span {
    color: #777;
    position: absolute;
    top: 20px;
    left: 20px;
    user-select: none;
  }