form {
	display: flex;
	flex-flow: row wrap;
	
	border: 0.1em solid grey;
	padding: 2em;
	font-family: 'Open Sans', sans-serif;
	max-width: 30em;
	margin: 10em auto;
}
input {
 	flex-grow: 1;

	padding: 16px;
	font-size: 16px;
}
label {
 	flex-basis: 100%;
	
	display: block;
	font-size: 26px;
	margin-bottom: 0.5em;
}

button {
	background-color: lightgrey;
	border: none;
	padding: 18px 22px;
	font-size: 16px;
}